<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>新增小孩</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
	</head>

	<body>

		<form id="childinfoadd" method="post">
			<header class="ui-header ui-header-positive ui-border-b">
				<h1>新增小孩</h1><button class="ui-btn" onclick="history.back()">回首页</button>
			</header>
			<br />
			<br />

			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">小孩昵称</label></div>
					<div class="weui-cell__bd">
						<input  name="childname" class="weui-input" type="text" placeholder="昵称" />
					</div>
				</div>
				
				<div class="weui-cell weui-cell_vcode">
					<div class="weui-cell__hd">
						<label class="weui-label">小孩性别</label>
					</div>
					<div class="weui-cell__bd">
						<select class="weui-select" name="childsex">
							<option value="L1">女生</option>
							<option value="L2">男生</option>
						</select>
					</div>
				</div>
				
				<div class="weui-cell">
					<div class="weui-cell__hd"><label for="" class="weui-label">小孩生日</label></div>
					<div class="weui-cell__bd">
						<input name="childbird" class="weui-input" type="date" value="" />
					</div>
				</div>
				
				<div class="weui-cell weui-cell_vcode">
					<div class="weui-cell__hd"><label class="weui-label">英文水平</label></div>
					<div class="weui-cell__bd">
						<select class="weui-select" name="childeng">
							<option value="L1">未学</option>
							<option value="L2">初级</option>
							<option value="L3">中级</option>
							<option value="L4">高级</option>
						</select>
					</div>
				</div>
			</div>

			<div class="page__bd page__bd_spacing">
				<div class="page-btn-area">
					<a class="page-btn page-btn_primary" href="javascript:setchildinfo();">新增</a>
					<input type="hidden" id="memberid" name="memberid1" value="1" />
				</div>
			</div>

		</form>

		<script type="text/javascript">
			$.fn.serializeObject = function() {
				var o = {};
				var a = this.serializeArray();
				$.each(a, function() {
					if(o[this.name]) {
						if(!o[this.name].push) {
							o[this.name] = [o[this.name]];
						}
						o[this.name].push(this.value || '');
					} else {
						o[this.name] = this.value || '';
					}
				});
				return o;
			};

			function setchildinfo() {

				var formdata = $('#childinfoadd').serializeObject();
				//alert(formdata);							
				$.ajax({
					type: 'post',
					url: 'setchildinfo',
					cache: false,
					dataType: 'json',
					data: JSON.stringify(formdata),
					contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						var result = JSON.stringify(data);
						alert('success:' + result);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
			}
			
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			}  
			
			$(document).ready(function() {
				
				$("#memberid").val($.getUrlParam('mbid'));
				
			});
		</script>
	</body>

</html>