<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的粉丝</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>

	<body>
		<form id="myfollow" method="post">

			<header class="ui-header ui-header-positive ui-border-b">
				<h1>我吸引的粉丝</h1><button class="ui-btn" onclick="history.back()">回上页</button>
			</header>
			<br />
			<br />

			<input type="hidden" id="flid" value="1" />
			
			<div class="weui-cells">
        		<div id="searchresult"> 
	       		</div>
	       	</div>

			<div class="weui-footer weui-footer_fixed-bottom">
				<p class="weui-footer__links">
					<a href="javascript:;" class="weui-footer__link">关于我们</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2007-2017 XXXXX</p>
			</div>
		</form>
		
		<script id="myfollow-template" type="text/html">
			 <a class="weui-cell weui-cell_access" href="javascript:;">
	                <div class="weui-cell__hd"><img src="./images/Users_favico.png"  alt="" style="width:20px;margin-right:5px;display:block"></div>
	                <div class="weui-cell__bd">
	                    <p><#= name #></p>
	                </div>
	                <div class="weui-cell__ft"><#= followDt #></div>
	         </a>			
		</script>
        
        <script type="text/javascript">
        
        	function getFollowerlist(){
				var flid = document.getElementById('flid').value;
				var params = {id: flid};
				
				alert(flid);
				
				$.ajax({  
			        type: 'get',  
			        url: 'getFollowerlist',
			        cache: false,
			        dataType : 'json',
			        data: params,
			　　　　　　 	contentType : 'application/json', 
			　　　　　　 	async: false,
			        success: function (data) { 	
			        	var result= JSON.stringify(data);
			        	
			        	var htmllist = '';
			        	data.follower.forEach(function(object) {			        		
			        		var output = $('#myfollow-template').parseTemplate(object);			        		
			        		htmllist += output;
			        	});
			        	
			        	$('#searchresult').html(htmllist); 
			        				        	
			        },  
			        error: function (data) { 		        	
			        	alert('failed:' + data.msg);
			        }  
			    });
			}
        					
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			}  
			
			$(document).ready(function() {
				
				$("#flid").val($.getUrlParam('flid'));

				getFollowerlist();
			});
		</script>

	</body>

</html>