<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.wei.dao.QAOnlineDao">
  <resultMap id="BaseResultMap" type="com.bp.wei.model.QAOnline">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="date_entered" jdbcType="TIMESTAMP" property="dateEntered" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="modified_user_id" jdbcType="CHAR" property="modifiedUserId" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="assigned_user_id" jdbcType="CHAR" property="assignedUserId" />
    <result column="question_dt" jdbcType="TIMESTAMP" property="questionDt" />
    <result column="ask_dt" jdbcType="TIMESTAMP" property="askDt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bp.wei.model.QAOnlineWithBLOBs">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="ask" jdbcType="LONGVARCHAR" property="ask" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, date_entered, date_modified, modified_user_id, created_by, deleted, assigned_user_id, 
    question_dt, ask_dt
  </sql>
  <sql id="Blob_Column_List">
    description, ask
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ec1_qa_online
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ec1_qa_online
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.bp.wei.model.QAOnlineWithBLOBs">
    insert into ec1_qa_online (id, name, date_entered, 
      date_modified, modified_user_id, created_by, 
      deleted, assigned_user_id, question_dt, 
      ask_dt, description, ask
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{dateEntered,jdbcType=TIMESTAMP}, 
      #{dateModified,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=CHAR}, #{createdBy,jdbcType=CHAR}, 
      #{deleted,jdbcType=BIT}, #{assignedUserId,jdbcType=CHAR}, #{questionDt,jdbcType=TIMESTAMP}, 
      #{askDt,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}, #{ask,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bp.wei.model.QAOnlineWithBLOBs">
    insert into ec1_qa_online
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dateEntered != null">
        date_entered,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="assignedUserId != null">
        assigned_user_id,
      </if>
      <if test="questionDt != null">
        question_dt,
      </if>
      <if test="askDt != null">
        ask_dt,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="ask != null">
        ask,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dateEntered != null">
        #{dateEntered,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="assignedUserId != null">
        #{assignedUserId,jdbcType=CHAR},
      </if>
      <if test="questionDt != null">
        #{questionDt,jdbcType=TIMESTAMP},
      </if>
      <if test="askDt != null">
        #{askDt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="ask != null">
        #{ask,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bp.wei.model.QAOnlineWithBLOBs">
    update ec1_qa_online
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dateEntered != null">
        date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="assignedUserId != null">
        assigned_user_id = #{assignedUserId,jdbcType=CHAR},
      </if>
      <if test="questionDt != null">
        question_dt = #{questionDt,jdbcType=TIMESTAMP},
      </if>
      <if test="askDt != null">
        ask_dt = #{askDt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="ask != null">
        ask = #{ask,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bp.wei.model.QAOnlineWithBLOBs">
    update ec1_qa_online
    set name = #{name,jdbcType=VARCHAR},
      date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT},
      assigned_user_id = #{assignedUserId,jdbcType=CHAR},
      question_dt = #{questionDt,jdbcType=TIMESTAMP},
      ask_dt = #{askDt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR},
      ask = #{ask,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bp.wei.model.QAOnline">
    update ec1_qa_online
    set name = #{name,jdbcType=VARCHAR},
      date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT},
      assigned_user_id = #{assignedUserId,jdbcType=CHAR},
      question_dt = #{questionDt,jdbcType=TIMESTAMP},
      ask_dt = #{askDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>